BasedOnStyle: LLVM

# rules, sort by name
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakAfterReturnType: ExceptShortType
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
ColumnLimit: 120
CompactNamespaces: false
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: false
IndentAccessModifiers: false
IndentPPDirectives: BeforeHash
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeCpp11BracedList: true
UseTab: Never
